<%= form_for(ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project %>
    <%= form.collection_select :project_id, Project.all, :id, :name, id: :ticket_project_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ticket_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :ticket_body %>
  </div>

  <div class="field">
    <%= form.label :stauts %>
    <%= form.select :status, Ticket::STATUSES.map{ |t| [t, t] }, id: :ticket_status %>
  </div>

  <div class="field">
    <%= form.label :assignee, "Assigned To" %>
    <%= form.collection_select :assignee_id, User.all, :id, :name, id: :ticket_assignee_id, include_blank: "No one" %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.collection_select :tag_ids, Tag.alphabetical, :id, :name, {}, multiple: true, id: :ticket_tag_ids, size: Tag.count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
