<h1>Projects</h1>

<% if @projects.empty? %>
  <p class="empty-list">
    There are no projects!
    <%= link_to 'Add one now?', new_project_path %>
  </p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="number">Open Tickets</th>
        <th class="number">Total Tickets</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <strong><%= link_to project.name, project_path(project) %></strong><br />
            <%= project.description %>
          </td>
          <td class="number"><%= project.tickets.open.count %></td>
          <td class="number"><%= project.tickets.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
