<h1>Tags</h1>

<% if @tags.empty? %>
  <p class="empty-list">
    There are no tags!
    <%= link_to "Add one now?", new_tag_path %>
  </p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="number">Tickets</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td class="number"><%= link_to tag.taggings.count, tickets_path(tag: tag) %></td>
          <td>
            <%= link_to 'Edit', edit_tag_path(tag) %>
            or
            <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Tag', new_tag_path %>
